
img
{
    width: 30%;
}
body{
    background-color: #e2e8f0;
}

h3{
    color:#264A9F;
}
#btnLogin
{
    background-color: #264A9F;
    width: 100%
}
.bt1
{
    background-color: #f1f1f1 ; 
}

.tcolor{
	color: #264A9F;
}
