<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading tcolor">Get in Touch</h1>
      <p class="lead text-muted mb-0">If you have any questions, please feel free to contact us. We'll get back to you as soon as possible. That's a promise!</p>
      <button type="button" class="btn btncontactus btn-large mt-4" [routerLink]="['/Contact']">Contact Us</button>
    </div>
  </section>
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="faq-header">FAQ's</h1>
            <div class="accordion mt-5">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="clearfix mb-0">
                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" 
                            aria-expanded="true" aria-controls="collapseOne">
                                1. Why should I insure my Car or Bike?<i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            Its required by law to do so. Secondly, you get covered for all damages to your vehicle, or if it gets stolen.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="clearfix mb-0">
                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" 
                            aria-expanded="true" aria-controls="collapseTwo">
                            2. Are there different types of Car Insurance?<i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            There is no difference in insurance coverage across companies, although prices do vary. Some companies offer Zero Depreciation covers, which are usually more expensive, and offer full coverage of parts and replacement. 
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="clearfix mb-0">
                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" 
                            aria-expanded="true" aria-controls="collapseThree">
                            3. What are the factors one should look at while choosing the plan?
                            <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            Motor Insurance is very simple. 

                            Always look at buying regular coverage or Zero Depreciation covers.
                            Look at car value to be insured. Most insurers use standard formulas – also called Insured Declared Value. This is the value for which your insurance is valid.
                            The actual Premiums vary from company to company – but the coverage is standard and exactly the same. So going for the cheaper option is always sensible
                            Some of our customers are particular about adequate Cashless Garages in their locality that each insurer have tie-ups with
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="clearfix mb-0">
                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" 
                            aria-expanded="true" aria-controls="collapseFour">
                            4. What is "No Claim Bonus"?<i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            No Claim Bonus (NCB) is your bonus for driving or riding carefully and not making a claim. You get a discount on your premium. Starting from 20% going all the way to 50%. So be careful on the road. If any claim is made, however small, the no claim bonus is lost.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h2 class="clearfix mb-0">
                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" 
                            aria-expanded="true" aria-controls="collapseFive">
                            5. I have lost the insurance policy. Can I get a duplicate one?
                            <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div class="card-body">
                            Yes, you can. When you buy through RAID Inurance, you automatically get registered and you can use this portal to access your policy anytime for a fresh printout.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h2 class="clearfix mb-0">
                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" 
                            aria-expanded="true" aria-controls="collapseSix">
                            6. Can I renew my motor policy online?<i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                        <div class="card-body">
                            Yes, you can renew your policy online, starting 60 days before the expiry of your existing policy. In case your vehicle insurance policy has already expired, our authorised surveyor will inspect the vehicle, before policy issuance. The policy would only be issued subject to a satisfactory inspection and submission of required documents.
                        </div>
                    </div>
                </div>

                <div class="card faq">
                    <div class="card-header w-100" id="headingSeven">
                        <h2 class="my-0 font-weight-normal flex-grow-1 clearfix mb-0">
                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" 
                            aria-expanded="true" aria-controls="collapseSeven">
                            7. Which documents are required to file a claim in Car Insurance Policy?<i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                        <div class="card-body">
                            In case of accidental damages claim, you need to provide the following documents:
                            <ul>
                                <li>Claim Form duly signed</li>
                                <li>Valid RC copy of the vehicle</li>
                                <li>Valid driving licence copy</li>
                                <li>Policy copy</li>
                                <li>Claim Form duly signed</li>
                                <li>FIR, if required (For Theft, Third Party Injury/Damage; Highway accidents - Major only)</li>
                                <li>Original repair bill, proof of release and cash receipt</li>
                                <li>Any other document as required to investigate the Claim or Company's obligation to make payment for it</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


