
    <nav class="navbar navbar-expand-sm navbar-custom">
        <div class="">
        <ul class="navbar-nav">
            <a class="navbar-brand" style="margin-top: 15px;" href="">
                <img src="assets/images/final.png" alt="logo">
            </a>
            <li class="nav-item">
                <a class="nav-link" routerLink="Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="Contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="AboutUs">About Us</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="">Help</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="faq">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="user-profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Logout</a>
            </li>
        </ul>
    </div>
    </nav>
