img
{
    width: 35%;
}

.navbar-brand
{/*
    height: 30px;
    margin: 0px;
    width: 200px;*/
    margin: 0;
    padding:0;
    width: 350px;
}
nav ul li a
{
    font-size: large;
    margin-top: 10px;
    color: white;
}
nav ul li
{
    
    text-align: right;
    padding-left: 50px;
}
nav
{
    
    margin-top: 5px;
    background-color: #264A9F;
}