<!-- <p>admin-page works!</p> -->


<section class="jumbotron text-center">
  <div class="container">
      <h1 class="jumbotron-heading tcolor">Admin Claim Approval</h1>
      <p class="lead text-muted mb-0">Welcome to General Insurance. The RAID!!</p>
  </div>
</section>
<div class="container">
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Claimed Date</th>
      <th scope="col">Claim No.</th>
      <th scope="col">Policy No.</th>
      <th scope="col">Approval Status</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td><a href="/" class="tcolor">View</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@mdo</td>
      <td>@fat</td>
      <td><a href="/" class="tcolor">View</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>@mdo</td>
      <td>Bird</td>
      <td>@twitter</td>
      <td><a href="/" class="tcolor">View</a></td>
    </tr>
  </tbody>
</table>
</div>