<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">

            <div class="card">
                <div class="card-header">
                    <h2 class="premheader">Premium Calculator</h2>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label class="mr-3">Vehicle Type</label>
                            <input type="radio" class="form-check-inline" value="4-wheeler" id="veh_type" name="veh_type" formControlName="veh_type" >4-Wheeler&nbsp;
                            <input type="radio" class="form-check-inline" value="2-wheeler" id="veh_type" name="veh_type" formControlName="veh_type">2-Wheeler
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-4 form-group">
                                <label for="brand_name">Brand Name</label>
                                <select id="brand_name" class="form-control" name="brand_name" formControlName="brand_name">
                                    <option [ngValue]="b.id" *ngFor="let b of fourWheelerBrandsList">
                                    {{b.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 form-group">
                                <label for="model_name">Model Name</label>
                                <select id="model_name" class="form-control" name="model_name" formControlName="model_name">
                                    <option [ngValue]="m.id" *ngFor="let m of fourWheelerModelsList">
                                    {{m.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 form-group">
                                <label for="market_price">Market Price</label>
                                <input type="text" class="form-control" id="market_price" name="market_price" formControlName="market_price">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 form-group">
                                <label for="market_price">Vehicle's CC</label>
                                <input type="text" class="form-control" id="market_price" name="market_price" formControlName="market_price">
                            </div>
                            <div class="col-sm-12 col-md-6 form-group">
                                <label for="veh_pur_date">Vehicle Purchase Date</label>
                                <input type="date" class="form-control" id="veh_pur_date" name="veh_pur_date" formControlName="veh_pur_date">
                            </div>
                        </div>
                        <p>
                            <input class="form-control btn btn-primary" type="submit" value="Calculate Premium">
                        </p>
                    </form>

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="card h-100 text-center inner-card">
                                <div class="card-header inner-card-header">
                                    <h5 class="card-title">Comprehensive Plan</h5>
                                </div>
                                <div class="card-body inner-card-body">
                                    <div class="card-text">
                                        <p>Price Rs.5800</p>
                                        <p>Covers</p>
                                        <p>Third party Insurance</p>
                                        <p>Own Damage Insurance</p>
                                    </div>
                                    <input type="submit" value="Buy Now"><br>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#comprehensivemodal">View price breakup</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="card h-100 text-center inner-card">
                                <div class="card-header inner-card-header">
                                    <h5 class="card-title">Third Party Plan</h5>
                                </div>
                                <div class="card-body inner-card-body">
                                    <div class="card-text">
                                        <p>Price Rs.2900</p>
                                        <p>Covers</p>
                                        <p>Only Third party Insurance</p>
                                    </div>
                                    <input type="submit" value="Buy Now"><br>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#thirdpartymodal">View price breakup</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="thirdpartymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Third Party Price Breakup</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
              <div class="col-md-9">Basic Third Party</div>
              <div class="col-md-3">2072</div>
            </div>
            <hr class="my-2">
            <div class="row">
                <div class="col-md-9">Net Premium</div>
                <div class="col-md-3">2072</div>
            </div>
            <div class="row">
                <div class="col-md-9">GST</div>
                <div class="col-md-3">616</div>
            </div>
            <div class="row">
                <div class="col-md-9">Total Premium</div>
                <div class="col-md-3">2688</div>
            </div>
            <hr class="my-3">
            <div class="row">
                <div class="col-md-9">Total Payable</div>
                <div class="col-md-3">2688</div>
            </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>


  
<div class="modal fade" id="comprehensivemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Comprehensive Price Breakup</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-9">Basic Own Damage</div>
                <div class="col-md-3">3079</div>
              </div>
              <hr class="my-2">
            <div class="row">
              <div class="col-md-9">Basic Third Party</div>
              <div class="col-md-3">2072</div>
            </div>
            <hr class="my-2">
            <div class="row">
                <div class="col-md-9">Net Premium</div>
                <div class="col-md-3">5151</div>
            </div>
            <div class="row">
                <div class="col-md-9">GST</div>
                <div class="col-md-3">616</div>
            </div>
            <div class="row">
                <div class="col-md-9">Total Premium</div>
                <div class="col-md-3">5767</div>
            </div>
            <hr class="my-3">
            <div class="row">
                <div class="col-md-9">Total Payable</div>
                <div class="col-md-3">5767</div>
            </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
</div>


