<div class="container footer-fix">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">

            <div class="card">
                <div class="card-header">
                    <h2 class="premheader">Premium Calculator</h2>
                </div>
                <div class="card-body">
                    <form [formGroup]="calcForm" (ngSubmit)="onSubmit()" novalidate>
                        <div class="form-group">
                            <label class="mr-3">Vehicle Type</label>
                            <label class="form-check-label">
                                <input type="radio" (click)="getbrands('4-wheeler')" class="form-check-inline" value="4-wheeler" id="veh_type1" name="veh_type" formControlName="veh_type" >4-Wheeler
                            </label>
                            &nbsp;
                            <label class="form-check-label">
                                <input type="radio" (click)="getbrands('2-wheeler')" class="form-check-inline" value="2-wheeler" id="veh_type2" name="veh_type" formControlName="veh_type">2-Wheeler
                            </label>
                            <div *ngIf="!veh_type?.valid && (veh_type?.dirty || veh_type?.touched)" id="error-div">
                                <div [hidden]="!veh_type.errors.required">
                                    Vehicle Type is required
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-4 form-group">
                                <label for="brand_name">Brand Name</label>
                                <select id="brand_name" (change)="getmodels($event.target.value)" class="form-control" name="brand_name" formControlName="brand_name" [ngClass]="{'is-invalid': brand_name.errors && (brand_name.touched || brand_name.dirty), 'is-valid':brand_name.valid}">
                                    <option [ngValue]="b.id" *ngFor="let b of BrandsList">
                                    {{b.name}}
                                    </option>
                                </select>
                                <div *ngIf="!brand_name?.valid && (brand_name?.dirty || brand_name?.touched)" id="error-div">
                                    <div [hidden]="!brand_name.errors.required">
                                        Brand Name is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 form-group">
                                <label for="model_name">Model Name</label>
                                <select id="model_name" class="form-control" (change)="getMarketPrice($event.target.value)" name="model_name" formControlName="model_name" [ngClass]="{'is-invalid': model_name.errors && (model_name.touched || model_name.dirty), 'is-valid':model_name.valid}">
                                    <option [ngValue]="m.name" *ngFor="let m of ModelsList">
                                    {{m.name}}
                                    </option>
                                </select>
                                <div *ngIf="!model_name?.valid && (model_name?.dirty || model_name?.touched)" id="error-div">
                                    <div [hidden]="!model_name.errors.required">
                                        Model Name is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 form-group">
                                <label for="market_price">Market Price</label>
                                <input type="number" class="form-control" id="market_price" name="market_price" readonly="readonly" value="{{Market_Price_Response}}" formControlName="market_price" >
                                <div *ngIf="!market_price?.valid && (market_price?.dirty || market_price?.touched)" id="error-div">
                                    <div [hidden]="!market_price.errors.required">
                                        Market Price is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 form-group">
                                <label for="veh_cc">Vehicle's CC</label>
                                <input type="number" class="form-control" id="veh_cc" name="veh_cc" formControlName="veh_cc" [ngClass]="{'is-invalid': veh_cc.errors && (veh_cc.touched || veh_cc.dirty), 'is-valid':veh_cc.valid}">
                                <div *ngIf="!veh_cc?.valid && (veh_cc?.dirty || veh_cc?.touched)" id="error-div">
                                    <div [hidden]="!veh_cc.errors.required">
                                        Vehicle CC is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 form-group">
                                <label for="veh_pur_date">Vehicle Purchase Date</label>
                                <input type="date" class="form-control" id="veh_pur_date" [max]="maxdate | date:'yyyy-MM-dd'" name="veh_pur_date" formControlName="veh_pur_date" [ngClass]="{'is-invalid': veh_pur_date.errors && (veh_pur_date.touched || veh_pur_date.dirty), 'is-valid':veh_pur_date.valid}">
                                <div *ngIf="!veh_pur_date?.valid && (veh_pur_date?.dirty || veh_pur_date?.touched)" id="error-div">
                                    <div [hidden]="!veh_pur_date.errors.required">
                                        Vehicle Purchase Date is required
                                    </div>
                                    <div [hidden]="!veh_pur_date.errors.invalidDate" style="color: red;">
                                        Purchase date cannot be greater than Current Date
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            <input class="form-control btn btn-primary" [disabled]="!calcForm.valid" type="submit" value="Calculate Premium">
                        </p>
                    </form>

                    <div class="row ml-2" *ngIf="idv!=0?true:false">
                        <h6>Insured Amount: Rs. {{idv | number : '1.0-2'}}</h6>
                    </div>

                    <div class="row">
                        <div *ngIf="total_premium_comp!=0?true:false" class="col-sm-12 col-md-6">
                            <div class="card h-100 text-center inner-card">
                                <div class="card-header inner-card-header">
                                    <h5 class="card-title">Comprehensive Plan</h5>
                                </div>
                                <div class="card-body inner-card-body">
                                    <div class="card-text">
                                        <p>Price Rs.{{total_premium_comp | number : '1.0-2'}}</p>
                                        <p>Covers</p>
                                        <p>Third party Insurance</p>
                                        <p>Own Damage Insurance</p>
                                    </div>
                                    <input type="submit" [routerLink]="['/BuyInsurance']" value="Buy Now"><br>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#comprehensivemodal">View price breakup</button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="total_premium_tp!=0?true:false" class="col-sm-12 col-md-6">
                            <div class="card h-100 text-center inner-card">
                                <div class="card-header inner-card-header">
                                    <h5 class="card-title">Third Party Plan</h5>
                                </div>
                                <div class="card-body inner-card-body">
                                    <div class="card-text">
                                        <p>Price Rs.{{total_premium_tp | number : '1.0-2'}}</p>
                                        <p>Covers</p>
                                        <p>Only Third party Insurance</p>
                                    </div>
                                    <input type="submit" [routerLink]="['/BuyInsurance']" value="Buy Now"><br>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#thirdpartymodal">View price breakup</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="thirdpartymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Third Party Price Breakup</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                <div class="col-md-9">Basic Third Party</div>
                <div class="col-md-3">{{basic_third_party | number : '1.0-2'}}</div>
                </div>
                <hr class="my-2">
                <div class="row">
                    <div class="col-md-9">Net Premium</div>
                    <div class="col-md-3">{{net_premium_tp | number : '1.0-2'}}</div>
                </div>
                <div class="row">
                    <div class="col-md-9">GST</div>
                    <div class="col-md-3">{{gst_tp | number : '1.0-2'}}</div>
                </div>
                <div class="row">
                    <div class="col-md-9">Total Premium</div>
                    <div class="col-md-3">{{total_premium_tp | number : '1.0-2'}}</div>
                </div>
                <hr class="my-3">
                <div class="row">
                    <div class="col-md-9">Total Payable</div>
                    <div class="col-md-3">{{total_premium_tp | number : '1.0-2'}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

  
<div class="modal fade" id="comprehensivemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Comprehensive Price Breakup</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-9">Basic Own Damage</div>
                    <div class="col-md-3">{{basic_own_damage | number : '1.0-2'}}</div>
                </div>
                <hr class="my-2">
                <div class="row">
                <div class="col-md-9">Basic Third Party</div>
                <div class="col-md-3">{{basic_third_party | number : '1.0-2'}}</div>
                </div>
                <hr class="my-2">
                <div class="row">
                    <div class="col-md-9">Net Premium</div>
                    <div class="col-md-3">{{net_premium_comp | number : '1.0-2'}}</div>
                </div>
                <div class="row">
                    <div class="col-md-9">GST</div>
                    <div class="col-md-3">{{gst_comp | number : '1.0-2'}}</div>
                </div>
                <div class="row">
                    <div class="col-md-9">Total Premium</div>
                    <div class="col-md-3">{{total_premium_comp | number : '1.0-2'}}</div>
                </div>
                <hr class="my-3">
                <div class="row">
                    <div class="col-md-9">Total Payable</div>
                    <div class="col-md-3">{{total_premium_comp | number : '1.0-2'}}</div>
                </div>
            </div>
        </div>
    </div>
</div>


