.container
{
    color: #264A9F;
}
.premheader
{
    text-align: center;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited
{
    background-color: #264A9F;
    color: white;
}

.inner-card-body
{
    background-color: white;
}

.inner-card-header
{
    background-color: #f1f1f1;
    
}

.inner-card
{
    border: 1px solid gray;
}

#error-div
{
    color: red;
}