<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div>
                        <div class="card-header">
                            <h3>User Login</h3>
                        </div>
                        <div class="card-body">
                            <div class="text-center"><img src="assets/images/avatarlogoblue.png" alt="avatar"></div>
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                                <div class="form-group">
                                    <label for="uname1" class="tcolor">Email ID</label>
                                    <input type="text" class="form-control form-control-lg rounded-0" name="uname1" formControlName="username" [ngClass]="{'is-invalid': username.errors && (username.touched || username.dirty), 'is-valid':username.valid}">
                                    <div *ngIf="!username?.valid && (username?.dirty || username?.touched)" id="error-div">
                                        <div [hidden]="!username.errors.required">
                                            Email ID is required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pwd1" class="tcolor">Password</label>
                                    <input type="password" class="form-control form-control-lg rounded-0" name="pwd1" formControlName="password" [ngClass]="{'is-invalid': password.errors && (password.touched || password.dirty), 'is-valid':password.valid}">
                                    <div *ngIf="!password?.valid && (password?.dirty || password?.touched)" id="error-div">
                                        <div [hidden]="!password.errors.required">
                                            Password is required
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-indicator">
                                    <span class="custom-control-description medium text-dark"> Remember me</span>
                                    </label>
                                </div>
                                <div >
                                    <button type="submit" class="btn btn-success btn-lg" id="btnLogin" [disabled]="!loginForm.valid">Login</button>
                                </div>
                                <p></p>
                                <div class="container">
                                    <button type="button" class="cancelbtn">Cancel</button>
                                    <span class="psw">Forgot <a href="ForgetPwd">password?</a></span>
                                </div>
                                <div class="text-center p-3">
                                    Need an account ? <a href="register">Register</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>