.container
{
    margin-top: 2%;
}
img
{
    width: 30%;
}
h3{
    color:#264A9F;
}
#btnLogin
{
    background-color: #264A9F;
    width: 100%
}
.bt1
{
    background-color: #f1f1f1 ; 
}
.cancelbtn{
background-color: gray;
}
span.psw {
    float: right;
}
.tcolor{
	color: #264A9F;
}

.card-body
{
    background-color: #f1f1f1;
}

.card-header
{
    text-align: center;
    background-color: white;
}
#error-div
{
    color: red;
}

