
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading tcolor">RAID</h1>
        <p class="lead text-muted mb-0">We at RAID are more than happy to help!!</p>
    </div>
  </section>
  <section id="contact">
    <div class="container">
        <h3 class="text-center text-uppercase tcolor">About Us</h3>
        <p class="text-center w-75 m-auto">
            RAID Insurance Company Limited is a Motor Insurance Company. The Company received the certificate of registration from IRDA to conduct general insurance business in India. RAID Insurance, today, is one of the largest private insurer in the industry with offices in over 1100 towns and cities. The Company has continuously been expanding its operations to reach out to its customers.   </p>
           <!-- <p class="text-center w-75 m-auto">The Company not just aims to take its service to the next level, but also seeks to provide the best customer experience at every touchpoint and make insurance a pull rather than a push product. The Company has a strong focus on customer centricity and aims at delivering superior value with an excellent and caring experience for the customer. Today the Company is taking its relationships with the customers beyond insurance, by offering them a plethora of digitised customer-centric initiatives.</p>
            -->

            <br>
            <br>
            <h3 class="text-center text-uppercase tcolor">Vision</h3>

        <div class="row">
            <div class="col">
            <div class="card border-0">
               <div class="card-body text-center">
                 <i class="fa fa-user fa-5x mb-3" aria-hidden="true"></i>
                 
                 <p>To be the first choice insurer for customers</p>
               </div>
             </div>
          </div>
          <div class="col">
            <div class="card border-0">
               <div class="card-body text-center">
                 <i class="fa fa-users fa-5x mb-3" aria-hidden="true"></i>
                 
                <p>To be the preferred employer for staff in the insurance industry

                </p> 
               </div>
             </div>
          </div>
          <div class="col">
            <div class="card border-0">
               <div class="card-body text-center">
                 <i class="fa fa-user-circle fa-5x mb-3" aria-hidden="true"></i>
                 
                 <p>To be the number one insurer for creating shareholder value</p>
               </div>
             </div>
          </div>
          
        </div>
    <br>
    <br>
        <h3 class="text-center text-uppercase tcolor">Mission</h3>
        <p class="text-center w-75 m-auto">
As a responsible, customer focused market leader, we will strive to understand the insurance needs of the consumers and translate it into affordable products that deliver value for money.
</p>


    </div>
  </section>