<section class="jumbotron text-center">
  <div class="container">
      <h1 class="jumbotron-heading tcolor">RAID</h1>
      <p class="lead text-muted mb-0">We at RAID are more than happy to help!!</p>
  </div>
</section>
<section id="contact">
  <div class="container">
      <h3 class="text-center text-uppercase tcolor">Contact Us</h3>
      <p class="text-center w-75 m-auto">We would like to give you the best policy. Feel free to reach out to us, we would love to hear from you.</p>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 my-5">
          <div class="card border-0">
             <div class="card-body text-center">
               <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
               <h4 class="text-uppercase mb-5">Call Us</h4>
               <p>00800 040 1966, +91 903259611</p>
             </div>
           </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 my-5">
          <div class="card border-0">
             <div class="card-body text-center">
               <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
               <h4 class="text-uppercase mb-5">Office Loaction</h4>
              <address>Shil-Mahape Road, Mumbai- 400037 </address>
             </div>
           </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 my-5">
          <div class="card border-0">
             <div class="card-body text-center">
               <i class="fa fa-facebook-square fa-5x mb-3" aria-hidden="true"></i>
               <h4 class="text-uppercase mb-5">Facebook</h4>
               <address>http://facebook.com/RAIDInsurance</address>
             </div>
           </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 my-5">
          <div class="card border-0">
             <div class="card-body text-center">
               <i class="fa fa-envelope fa-5x mb-3" aria-hidden="true"></i>
               <h4 class="text-uppercase mb-5">Email</h4>
               <p>raid_insurance@gmail.com, support@raid.com</p>
             </div>
           </div>
        </div>
      </div>
  </div>
</section>