
<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div>
                        <div class="card-header">
                            <h3 class="text-center">Buy Insurance</h3>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="buyinsuranceForm" (ngSubmit)="onSubmit()" novalidate>
                                <div class="form-group text-center">
                                    <label for="veh_type" class="mr-3">Vehicle Type</label>
                                    <input type="radio" class="form-check-inline" value="4-wheeler" (change)="onItemChange($event)" id="4-wheeler" name="veh_type" formControlName="veh_type" >4-Wheeler&nbsp;
                                    <input type="radio" class="form-check-inline" value="2-wheeler" id="2-wheeler" (change)="onItemChange($event)" name="veh_type" formControlName="veh_type">2-Wheeler
                                    <div *ngIf="!veh_type?.valid && (veh_type?.dirty || veh_type?.touched)" id="error-div">
                                        <div [hidden]="!veh_type.errors.required">
                                            Vehicle Type is required
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="brand">Brand Name</label>
                                    <select id="brand" ng-value="2" (change)="onChange($event)" class="form-control" name="brand" formControlName="brand_name" [ngClass]="{'is-invalid': brand_name.errors && (brand_name.touched || brand_name.dirty), 'is-valid':brand_name.valid}">
                                        <option *ngFor="let b of brandsList" [ngValue]="b.Brand_Id">
                                            {{b.brand_names}}
                                        </option>
                                    </select>
                                    <div *ngIf="!brand_name?.valid && (brand_name?.dirty || brand_name?.touched)" id="error-div">
                                        <div [hidden]="!brand_name.errors.required" style="color: red;">
                                            Brand Name is required
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="model">Model Name</label>
                                    <select id="model" class="form-control" (change)="getMarketPrice($event.target.value)" name="model" formControlName="model_name" [ngClass]="{'is-invalid': model_name.errors && (model_name.touched || model_name.dirty), 'is-valid':model_name.valid}">
                                        <option [ngValue]="m.Model_Name" *ngFor="let m of modelsList">
                                            {{m.Model_Name}}
                                        </option>
                                    </select>
                                    <div *ngIf="!model_name?.valid && (model_name?.dirty || model_name?.touched)" id="error-div">
                                        <div [hidden]="!model_name.errors.required" style="color: red;">
                                            Model Name is required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="license">Driving License</label>
                                    <input type="text" class="form-control  rounded-0" name="license" formControlName="license_no" [ngClass]="{'is-invalid': license_no.errors && (license_no.touched || license_no.dirty), 'is-valid':license_no.valid}">
                                    <div *ngIf="!license_no?.valid && (license_no?.dirty || license_no?.touched)" id="error-div">
                                        <div [hidden]="!license_no.errors.required" style="color: red;">
                                            License Number is required
                                        </div>
                                        <div [hidden]="!license_no.errors.minlength" style="color: red;">
                                            License Number should be of length 16
                                        </div>
                                        <div [hidden]="!license_no.errors.pattern" style="color: red;">
                                            Invalid License Number
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="purchaseDate">Purchase Date</label>
                                    <input type="date" class="form-control  rounded-0" [max]="maxdate | date:'yyyy-MM-dd'" name="purchase_date" formControlName="purchase_date" [ngClass]="{'is-invalid': purchase_date.errors && (purchase_date.touched || purchase_date.dirty), 'is-valid':purchase_date.valid}">
                                    <div *ngIf="!purchase_date?.valid && (purchase_date?.dirty || purchase_date?.touched)" id="error-div">
                                        <div [hidden]="!purchase_date.errors.required" style="color: red;">
                                            Purchase Date is required
                                        </div>
                                        <div [hidden]="!purchase_date.errors.invalidDate" style="color: red;">
                                            Purchase date cannot be greater than Current Date
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="regNo">Registration Number</label>
                                    <input type="text" class="form-control  rounded-0" name="RegNo" formControlName="registeration_number" [ngClass]="{'is-invalid': registeration_number.errors && (registeration_number.touched || registeration_number.dirty), 'is-valid':registeration_number.valid}">
                                    <div *ngIf="!registeration_number?.valid && (registeration_number?.dirty || registeration_number?.touched)" id="error-div">
                                        <div [hidden]="!registeration_number.errors.required" style="color: red;">
                                            Registration Number is required
                                        </div>
                                        <div [hidden]="!registeration_number.errors.minlength" style="color: red;">
                                            Registration Number should be of length 10
                                        </div>
                                        <div [hidden]="!registeration_number.errors.pattern" style="color: red;">
                                            Invalid Registration Number
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="engineNo">Engine Number</label>
                                    <input type="number" class="form-control rounded-0" name="engineNo" formControlName="engine_number" [ngClass]="{'is-invalid': engine_number.errors && (engine_number.touched || engine_number.dirty), 'is-valid':engine_number.valid}">
                                    <div *ngIf="!engine_number?.valid && (engine_number?.dirty || engine_number?.touched)" id="error-div">
                                        <div [hidden]="!engine_number.errors.required" style="color: red;">
                                            Engine Number is required
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="engineNo">Vehicle CC</label>
                                    <input type="number" class="form-control rounded-0" name="vehicleCC" formControlName="vehicleCC" [ngClass]="{'is-invalid': vehicleCC.errors && (vehicleCC.touched || vehicleCC.dirty), 'is-valid':vehicleCC.valid}">
                                    <div *ngIf="!vehicleCC?.valid && (vehicleCC?.dirty || vehicleCC?.touched)" id="error-div">
                                        <div [hidden]="!vehicleCC.errors.required" style="color: red;">
                                            Vehicle cc is required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="chassisNo">Chasis Number</label>
                                    <input type="number" class="form-control rounded-0" name="chassisNo" formControlName="chassis_number" [ngClass]="{'is-invalid': chassis_number.errors && (chassis_number.touched || chassis_number.dirty), 'is-valid':chassis_number.valid}">
                                    <div *ngIf="!chassis_number?.valid && (chassis_number?.dirty || chassis_number?.touched)" id="error-div">
                                        <div [hidden]="!chassis_number.errors.required" style="color: red;">
                                            Chassis Number is required
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="chassisNo">Market Price</label>
                                    <input type="number" class="form-control rounded-0" name="market_price" readonly="readonly" value="{{Market_Price_Response}}" formControlName="market_price" [ngClass]="{'is-invalid': market_price.errors && (market_price.touched || market_price.dirty), 'is-valid':market_price.valid}">
                                    <div *ngIf="!market_price?.valid && (market_price?.dirty || market_price?.touched)" id="error-div">
                                        <div [hidden]="!market_price.errors.required" style="color: red;">
                                            Market price is required
                                        </div>
                                        <div [hidden]="!market_price.errors.pattern" style="color: red;">
                                            Invalid Market price
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <button type="submit" class="btn btn-default text-white text-center" [disabled]="!buyinsuranceForm.valid">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>