h3
{
    text-align: center;
    color: #264A9F;
}
.btn-default
{
    background-color: #264A9F;
    color: #e2e9f0;
}

.btn-primary1
{
    background-color: #264A9F;
    color: white;
}
* 
{
    color: #264A9F;
    text-align: left;
}
::placeholder
{
    color:rgb(172, 169, 169);
}
