<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="shadow">
                        <div class="card-header">
                            <h3>Buy Insurance</h3>
                            <div>
                                <button type="submit" class="btn btn-primary1 btn-lg" data-toggle="collapse" data-target="#info" id="4wheeler">4 Wheeler Insurance</button>
                                <button type="submit" class="btn btn-primary1 btn-lg pull-right" data-toggle="collapse" data-target="#info" id="2wheeler">2 Wheeler Insurance</button>
                            </div>
                            <div class="collapse" id="info">
                                <div class="card-body">
                                    <form class="form">
                                        <div class="form-group">
                                            <label for="manufacturer"></label>
                                            <input type="text" class="form-control form-control-lg rounded-0" name="manufacturer" placeholder="Enter car/bike manufacturer">
                                        </div>
                                        <div class="form-group">
                                            <label for="model"></label>
                                            <input type="text" class="form-control form-control-lg rounded-0" name="model" placeholder="Enter car/bike model">
                                        </div>
                                        <div class="form-group">
                                            <label for="license"></label>
                                            <input type="text" class="form-control form-control-lg rounded-0" name="license" placeholder="Enter driving license">
                                        </div>
                                        <div class="form-group">
                                            <label for="purchaseDate"></label>
                                            <input type="text" class="form-control form-control-lg rounded-0" name="purchaseDate" placeholder="Enter purchase date">
                                        </div>
                                        <div class="form-group">
                                            <label for="regNo"></label>
                                            <input type="text" class="form-control form-control-lg rounded-0" name="RegNo" placeholder="Enter Registration number">
                                        </div>
                                        <div class="form-group">
                                            <label for="engineNo"></label>
                                            <input type="text" class="form-control form-control-lg rounded-0" name="engineNo" placeholder="Enter engine number">
                                        </div>
                                        <div class="form-group">
                                            <label for="chassisNo"></label>
                                            <input type="text" class="form-control form-control-lg rounded-0" name="chassisNo" placeholder="Enter Chassis number">
                                        </div>
                                        <div class="text-center">
                                            <button type="button" class="btn btn-default btn-lg" id="" [routerLink]="'plan-selection'"><a class="text-white" href="plan-selection">Submit</a></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>