<!-- <app-user-profile></app-user-profile> -->

<!-- <app-contact></app-contact> -->

<!-- <app-admin-page></app-admin-page> -->


<!--<app-user-home-page></app-user-home-page>-->

<!--<app-navbar></app-navbar>-->


<!--<app-admin-login></app-admin-login>-->

<!--<app-home></app-home>-->

<!--<app-buy-insurance></app-buy-insurance>-->

<!--<app-plan-selection></app-plan-selection>-->

<!--<app-claim-details></app-claim-details>-->



<router-outlet></router-outlet>

<!--<app-footer></app-footer>-->

<!--<app-register></app-register>-->

<!--<app-login></app-login>-->

<!--<app-aboutus></app-aboutus>-->

<!--<app-forget-password></app-forget-password>-->
