.container
{
    color: #264A9F;
}


.btn-primarys, .btn-primarys:hover, .btn-primarys:active, .btn-primarys:visited, .btn-primarys:checked
{
    background-color: #264A9F;
    color: white;
}

.btn-defaults
{
    background-color: rgb(187, 187, 187);
}

#error-div
{
    color: red;
}