<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div>
                        <div class="card-header">
                            <h3>Detailed Claim Information</h3>
                            <div class="text-center"><img src="assets/images/claim logo.jpeg" alt="claim logo"></div>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="claimDetailForm" (ngSubmit)="onSubmit()" novalidate>
                                <table class="form-control form-control-lg rounded-0">
                                    <tr>
                                        <th>Claim Number</th>
                                        <td><input type="number" class="form-control form-control-lg rounded-0"  disabled value="{{Claim_info.Claim_no}}"></td>
                                    </tr>
                                    <tr>
                                        <th>Policy Number</th>
                                        <td><input id="policy_no" type="text" class="form-control form-control-lg rounded-0"  disabled value="{{Claim_info.Policy_No}}"  >
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Reasons</th>
                                        <td><input type="text" class="form-control form-control-lg rounded-0" disabled
                                                value="{{Claim_info.Reasons}}"></td>
                                    </tr>
                                    <tr>
                                        <th>Date Claimed</th>
                                        <td><input type="text" class="form-control form-control-lg rounded-0" disabled
                                                value="{{Claim_info.Date_claimed}}"></td>
                                    </tr>
                                    <tr>
                                        <th>IDV</th>
                                        <td><input type="text" id="idv" name="idv" formControlName="idv" class="form-control form-control-lg rounded-0" [value]="Claim_info.IDV" disabled></td>
                                    </tr>
                                    <tr>
                                        <th>Claim Approval Status</th>
                                        <td>
                                            <select class="form-control form-control-lg rounded-0" id="status" name="status" formControlName="status" required>
                                                <option >{{Claim_info.Claim_approval_status}}</option>
                                                <option [ngValue]="" *ngFor="let s of viewStatus">{{s.name}}</option>
                                            </select>
                                        </td>
                                        
                                    </tr>
                                    <div *ngIf="!status.valid && (status.dirty ||status.touched)">
                                        <div [hidden]="!status.errors.required">
                                          <p style="color: red;">Status is required</p>
                                        </div>
                                    </div>
                                    <tr>
                                        <th>Claim Amount</th>
                                        <td><input type="text" id="amount" name="amount" formControlName="amount" class="form-control form-control-lg rounded-0" [value]="Claim_info.Claim_amt" ></td>
                                    </tr>
                                    <div *ngIf="!amount.valid && (amount.dirty ||amount.touched)">
                                        <div [hidden]="!amount.errors.required">
                                          <p style="color: red;">Claim amount is required</p>
                                        </div>
                                      </div>
                                </table>
                                <br>
                                <button type="submit" class="btn btn-default btn-lg text-white" [routerLink]="['/claim-details']" [disabled]="Claim_info.Claim_approval_status=='Approved'?true:false">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>