<!-- <p>user-home-page works!</p> -->


<!-- <section class="jumbotron text-center">
  <div class="container">
      <h1 class="jumbotron-heading">General Insurance</h1>
      <p class="lead text-muted mb-0">We at general insurance are more than happy to help!!</p>
  </div>
</section> -->

<!-- 
<div class="container">
  
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <div class="options">
    <button type="submit"><a routerLink="BuyInsurance">Buy Insurance</a></button>
    <button type="submit">Renew Insurance</button>
    <button type="submit">Claim Insurance</button>
    <button type="submit">Estimate Insurance Calculation</button>
  </div>
</div> -->

<!-- <section class="jumbotron text-center">
  <div class="container">
      <h1 class="jumbotron-heading tstyle">General Insurance</h1>
      <p class="lead text-muted mb-0">We at general insurance are more than happy to help!!</p>
  </div>
</section> -->
<div class="container">
  <div class="row">
    <!-- <div class="col-xl-3">
      <button type="button" class="btn btn-primary btn-lg btn-block mr-1"><i class="fa fa-shopping-cart fa-5x center" aria-hidden="true"></i><br>Buy Insurance</button>
    </div>
    <div class="col-xl-3">
      <button type="button" class="btn btn-primary btn-lg btn-block mr-1"><i class="fa fa-refresh fa-5x center" aria-hidden="true"></i><br>Renew Insurance</button>
    </div>
    <div class="col-xl-3">
      <button type="button" class="btn btn-primary btn-lg btn-block mr-1"><i class="fa fa-exchange fa-5x center" aria-hidden="true"></i><br>Claim Insurance</button>
    </div>
    <div class="col-xl-3">
      <button type="button" class="btn btn-primary btn-lg btn-block mr-1"><i class="fa fa-calculator fa-5x center" aria-hidden="true"></i><br>Insurance Calculation</button>
    </div> -->

    <div class="col-xl-3 col-md-6">
      <button type="button" [routerLink]="['/BuyInsurance']"
        class="btn btn-primary btn-lg btn-block mr-1 button-style"><img class="img-style"
          src="../../assets/images/buy-insurance.png" alt=""><br>
        <h4>Buy Insurance</h4>
      </button>
    </div>
    <div class="col-xl-3 col-md-6">
      <button type="button" data-toggle="modal" data-target="#exampleModal"
        class="btn btn-primary btn-lg btn-block mr-1 button-style"><img class="img-style"
          src="../../assets/images/renew-insurance.png" alt=""><br>
        <h4>Renew Insurance</h4>
      </button>
    </div>
    <div class="col-xl-3 col-md-6">
      <button type="button" [routerLink]="['/claim-insurance']"
        class="btn btn-primary btn-lg btn-block mr-1 button-style"><img class="img-style"
          src="../../assets/images/claim-insurance.png" alt=""><br>
        <h4>Claim Insurance</h4>
      </button>
    </div>
    <div class="col-xl-3 col-md-6">
      <button type="button" [routerLink]="['/premium-calc']"
        class="btn btn-primary btn-lg btn-block mr-1 button-style"><img class="img-style"
          src="../../assets/images/cal-insurance.png" alt=""><br>
        <h4>Insurance Calculation</h4>
      </button>
    </div>
  </div>
  <hr>
  <br>
  <!-- <div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
      <div class="pb-3">
        <h5>List of Insurance:</h5>
      </div>
      <div class="row"> -->
        <!-- <div class="col-md-6 themed-grid-col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Policy No:</h5>
              <h6 class="card-subtitle mb-2 text-muted">Sub. Date:</h6>
              <p class="card-text">Brand Name: Creta</p>
              <p class="card-text">Model Name: Honda</p>
              <p class="card-text">Vehicle Reg: 132123</p>
              <p class="card-text">Engine No: 1232324</p>
              <p class="card-text">Chassis No: 23231231</p>
              <a href="#" class="card-link tstyle">Claim</a>
              <a href="#" class="card-link tstyle">Renew</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 themed-grid-col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Policy No:</h5>
              <h6 class="card-subtitle mb-2 text-muted">Sub. Date:</h6>
              <p class="card-text">Brand Name: Creta</p>
              <p class="card-text">Model Name: Honda</p>
              <p class="card-text">Vehicle Reg: 132123</p>
              <p class="card-text">Engine No: 1232324</p>
              <p class="card-text">Chassis No: 23231231</p>
              <a href="#" class="card-link tstyle">Claim</a>
              <a href="#" class="card-link tstyle">Renew</a>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-sm-6 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h6 class="d-flex align-items-center mb-3"><i class="material-icons tstyle mr-2">2-Wheeler</i>Honda &nbsp;<i class="material-icons tstyle mr-3">(Hornet)</i></h6><hr>
              
              <h6 class="d-flex align-items-center mb-3">Subscription Plan: 12/10/2019 - 12/10/2020</h6>
              <h6 class="d-flex align-items-center mb-3">Policy Number: 123123123</h6>
              <h6 class="d-flex align-items-center mb-3">Vehicle Number: 123123123</h6>
              <h6 class="d-flex align-items-center mb-3">Engine Number: 32321f2ggf</h6>
              <h6 class="d-flex align-items-center mb-3">Chassis Number: 123321</h6><hr>
              <a href="#" class="card-link tstyle" routerLink="/claim-insurance">Claim</a>
              <a href="#" class="card-link tstyle" data-toggle="modal" data-target="#exampleModal">Renew</a>
            </div>
          </div>
        </div> -->

        <!-- <div class="col-sm-6 mb-3" *ngFor="let planlist of subscriptionplan_list">
          <div class="card h-100">
            <div class="card-body">
              <h6 class="d-flex align-items-center mb-3"><i
                  class="material-icons tstyle mr-2">{{planlist.Vehicle_Type}}</i>{{planlist.Manufacturer_Name}}
                &nbsp;<i class="material-icons tstyle mr-3">({{planlist.Model_Name}})</i></h6>
              <hr>

              <h6 class="d-flex align-items-center mb-3">Subscription Plan: {{planlist.Sub_date}}</h6>
              <h6 class="d-flex align-items-center mb-3">Policy Number: {{planlist.Policy_No}}</h6>
              <h6 class="d-flex align-items-center mb-3">Vehicle Number: {{planlist.Reg_No}}</h6>
              <h6 class="d-flex align-items-center mb-3">Engine Number: {{planlist.Engine_No}}</h6>

              <h6 class="d-flex align-items-center mb-3">Chassis Number: {{planlist.Chasis_No}}</h6><hr>
              <span *ngIf="planlist.Status_of_sub == 'Expired'; else elseBlock">
                <a href="#" class="card-link tstyle" data-toggle="modal" data-target="#exampleModal">Renew </a>
                <span style="color: red;">(Your Plan has expired)</span>
              </span>  

              <ng-template #elseBlock>
                <a href="#" class="card-link tstyle" routerLink="/claim-insurance">Claim </a>
                <span class="tstyle"><strong>(Active)</strong></span>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <h5>List of Insurance:</h5>
<div *ngFor="let planlist of subscriptionplan_list">
  <div class="card mb-2">
    
      <h6 class="card-header d-flex align-items-center"><i
          class="material-icons tstyle mr-2">{{planlist.Vehicle_Type}}</i>{{planlist.Manufacturer_Name}} &nbsp;<i
          class="material-icons tstyle mr-3">({{planlist.Model_Name}})</i></h6>
          
    <div class="card-body">
      <h6 class="d-flex align-items-center mb-3">Subscription Plan: {{planlist.Sub_date}}</h6>
      <div class="row">
        <div class="col-6 text-center">
          <h6 class="d-flex align-items-center mb-3">Policy Number: {{planlist.Policy_No}}</h6><br>
          <h6 class="d-flex align-items-center mb-3">Vehicle Number: {{planlist.Reg_No}}</h6>
        </div>
        <div class="col-6 text-center">
          <h6 class="d-flex align-items-center mb-3">Engine Number: {{planlist.Engine_No}}</h6><br>
          <h6 class="d-flex align-items-center mb-3">Chassis Number: {{planlist.Chasis_No}}</h6>
        </div>
      </div>
      <hr>

      <span *ngIf="planlist.Status_of_sub == 'Expired'; else elseBlock">
                <a href="#" class="card-link tstyle" data-toggle="modal" data-target="#exampleModal">Renew </a>
                <span style="color: red;">(Your Plan has expired)</span>
              </span>  

              <ng-template #elseBlock>
                <a href="#" class="card-link tstyle" routerLink="/claim-insurance">Claim </a>
                <span class="tstyle"><strong>(Active)</strong></span>
              </ng-template>
    </div>
  </div>
</div>

<h5>Claim History</h5>
<div *ngFor="let info of claim_history">
  <div class="card mb-2">
    
      <h6 class="card-header d-flex align-items-center"><i
          class="material-icons tstyle mr-2">{{planlist.Vehicle_Type}}</i>{{planlist.Manufacturer_Name}} &nbsp;<i
          class="material-icons tstyle mr-3">({{planlist.Model_Name}})</i></h6>
          
    <div class="card-body">
      <h6 class="d-flex align-items-center mb-3">Claim Number: {{info.Claim_no}}</h6>
      <div class="row">
        <div class="col-6 text-center">
          <h6 class="d-flex align-items-center mb-3">Policy Number: {{info.Policy_No}}</h6>
          <h6 class="d-flex align-items-center mb-3">Date Claimed: {{info.Date_claimed}}</h6>
        </div>
        <div class="col-6 text-center">
          <span *ngIf="info.Claim_approval_status=='Approved'; else second_condition">
            <h6 class="d-flex align-items-center mb-3" style="color: #264A9F;">Approval Status: {{info.Claim_approval_status}}</h6>
          </span>
          <ng-template #second_condition>
            <span *ngIf="info.Claim_approval_status=='Pending' || info.Claim_approval_status=='Under Verification'; else third_condition">
              <h6 class="d-flex align-items-center mb-3" style="color: grey;">Approval Status: {{info.Claim_approval_status}}</h6>
            </span>
          </ng-template>
          <ng-template #third_condition>
            <h6 class="d-flex align-items-center mb-3" style="color: red;">Approval Status: {{info.Claim_approval_status}}</h6>
          </ng-template>
          <h6 class="d-flex align-items-center mb-3">Claim Amount: {{info.Claim_amt}}</h6>
        </div>
      </div>
      <hr>
      
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Renew Insurance</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="renewForm" (ngSubmit)="onSubmit()" novalidate>
          <p>Give Details as per registered Policy Subscription</p>
          <div class="form-group">
            <label for="policyNumber" class="col-form-label">Policy Number</label>
            <input type="number" class="form-control" formControlName="policyNumber" name="policyNumber"
              id="policyNumber" required>
            <div *ngIf="!policyNumber?.valid && (policyNumber?.dirty ||policyNumber?.touched)">
              <div [hidden]="!policyNumber.errors.required">
                <p style="color: red;">Policy Number is required.</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="mobile" class="col-form-label">Mobile Number</label>
            <input type="text" class="form-control" formControlName="mobile" name="mobile" id="mobile">
            <div *ngIf="!mobile?.valid && (mobile?.dirty ||mobile?.touched)">
              <div [hidden]="!mobile.errors.required">
                <p style="color: red;">Mobile is required.</p>
              </div>
              <div [hidden]="!mobile.errors.pattern">
                <p style="color: red;">Phone number should be of 10 digits.</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Email ID</label>
            <input type="email" class="form-control" formControlName="email" name="email" id="email">
            <div *ngIf="!email.valid && (email.dirty ||email.touched)">
              <div [hidden]="!email.errors.required">
                <p style="color: red;">email is required.</p>
              </div>
              <div [hidden]="!email.errors.email">
                <p style="color: red;">invalid email id.</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeModal>Close</button>
            <button type="submit" [disabled]="!renewForm.valid" class="btn btn-primary submit-button">Proceed</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<script>
  $('#exampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('whatever') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').text('New message to ' + recipient)
    modal.find('.modal-body input').val(recipient)
  })
</script>