<!-- <p>user-home-page works!</p> -->


<!-- <section class="jumbotron text-center">
  <div class="container">
      <h1 class="jumbotron-heading">General Insurance</h1>
      <p class="lead text-muted mb-0">We at general insurance are more than happy to help!!</p>
  </div>
</section> -->

<!-- 
<div class="container">
  
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <div class="options">
    <button type="submit"><a routerLink="BuyInsurance">Buy Insurance</a></button>
    <button type="submit">Renew Insurance</button>
    <button type="submit">Claim Insurance</button>
    <button type="submit">Estimate Insurance Calculation</button>
  </div>
</div> -->
<div class="container">
  <section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading tstyle">General Insurance</h1>
        <p class="lead text-muted mb-0">We at general insurance are more than happy to help!!</p>
    </div>
  </section>
  <div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
      <div class="pb-3">
        <h5>List of Insurance:</h5>
      </div>
      <div class="row">
        <div class="col-md-6 themed-grid-col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link tstyle">Claim</a>
              <a href="#" class="card-link tstyle">Renew</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 themed-grid-col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link tstyle">Claim</a>
              <a href="#" class="card-link tstyle">Renew</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 themed-grid-col">
    <button type="button" class="btn btn-lg btn-block btnstyle text-white">Buy Insurance</button>
    <button type="button" class="btn btnstyle btn-lg btn-block text-white">Renew Insurance</button>
    <button type="button" class="btn btnstyle btn-lg btn-block text-white">Claim Insurance</button>
    <button type="button" class="btn btnstyle btn-lg btn-block text-white">Estimate Insurance Calculation</button>
    </div>
  </div>
</div>