<section>
  <div class="container">
    <div class="row h-100">
      <div class="col-md-6 ml-0 text-center my-auto">
        <h4>RAID INSURANCE</h4>
        <p>
          Get your Dream vehicle.
          A reliable insurance.
          For nearly many years, we’ve prepared you for what’s next . Its our ambition to help you and your vehicle.
          Raid insurance offers  a comprehensive package policy which covers Loss or Damage to your car, Liability to third parties and provides personal accident cover to the Owner/Driver.
        </p>
        <p>We at raid give you the suitable premium price of the policy. Check out the price here.</p>
        <button type="submit" value="Premium Calculator" class="btn btn-default text-white">Premium Calculator</button>
      </div>
      <div class="col-md-6 mr-0">
        <img src="assets/images/car_insurance.png" style="width: 100%;">
      </div>
    </div>
  </div>
</section>
<div class="container text-center">
  <h4>Why Choose RAID Insurance ?</h4>
  <p>Understand your car insurance options. Identify the best value. Enjoy peace of mind</p>
  <div class="row">
    <div class="col-md-4">
      <div class="card bg-transparent">
        <div class="card-header">
          <img src="assets/images/time.svg" style="width: 60%;">
        </div>
        <div class="card-body">
          <h5>Car Insurance in Just 5 Minutes</h5>
          Say no to spending hours and days in queues doing the paperwork for your insurance policy.Wait no more! Get your car 
          insurance issued instantly with RAID Insurance online in just 5 minutes with our easy, quick and paperless car insurance policy inssuance process.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-transparent">
        <div class="card-header">
          <img src="assets/images/policy-sold.svg" style="width: 60%;">
        </div>
        <div class="card-body">
          <h5>Over 5.5 Lakh Happy Customers</h5>
          RAID Insurance is a favourable choice among insurance buyers. Our transparent and quick process, availability of top-related
          insurance plans and dedicated customer support team has helped us win the love and confidence of over 5.5 Lakh happy customers.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-transparent">
        <div class="card-header">
          <img src="assets/images/support.svg" style="width: 60%;">
        </div>
        <div class="card-body">
          <h5>7 Days Dedicated Customer Support</h5>
          Our dedicated customer support team is available at your service all the 7 days of the week. Feel free to reach out to us for
          any insurance related assistance, be it for policy purchase or claim settelement. We are always there to help you.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container text-center">
  <h4>How RAID Insurance Works ?</h4>
  <div class="row h-100 ml-5">
    <div class="col-md-3">
      <div class="card bg-transparent h-100">
        <div class="card-header">
          <img src="assets/images/details.svg">
        </div>
        <div class="card-body bg-transparent my-auto">
          <h6>Fill in Your Details</h6>
          Fill in your details and get insurance policy premium quotes from top-rated insurers instantly.
        </div>
      </div>
    </div>
    <div class="col-md-1 my-auto d-sm-none d-md-block">
      <i class="fa fa-chevron-right fa-3x"></i>
    </div>
    <div class="col-md-3">
      <div class="card bg-transparent h-100">
        <div class="card-header">
          <img src="assets/images/comparequote.svg">
        </div>
        <div class="card-body bg-transparent my-auto">
          <h6>Compare Quotes and Choose a Insurance Policy</h6>
          From numerous available quotes, choose the one that best suits your requirements and budget.
        </div>
      </div>
    </div>
    <div class="col-md-1 my-auto d-sm-none d-md-block">
      <i class="fa fa-chevron-right fa-3x"></i>
    </div>
    <div class="col-md-3">
      <div class="card bg-transparent h-100">
        <div class="card-header">
          <img src="assets/images/buyinminute.svg">
        </div>
        <div class="card-body bg-transparent my-auto">
          <h6>Make Payment and Sit Back</h6>
          Pay Online and get your policy right away in your inbox.
        </div>
      </div>
    </div>
  </div>
</div>
