<app-navbar></app-navbar>
<div class="container">
    <div class="why_Insurance">
        <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">
          <!--controls-->
          <div class="controls-top">
            <a class="carousel-control-prev" href="#carousel-example-multi" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-multi" data-slide="prev">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <!--indicators-->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-multi" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-multi" data-slide-to="1"></li>
            <li data-target="#carousel-example-multi" data-slide-to="2"></li>
            <li data-target="#carousel-example-multi" data-slide-to="3"></li>
            <li data-target="#carousel-example-multi" data-slide-to="4"></li>
            <li data-target="#carousel-example-multi" data-slide-to="5"></li>
            <li data-target="#carousel-example-multi" data-slide-to="6"></li>
            <li data-target="#carousel-example-multi" data-slide-to="7"></li>
            <li data-target="#carousel-example-multi" data-slide-to="8"></li>
            <li data-target="#carousel-example-multi" data-slide-to="10"></li>
          </ol>
          <div class="carousel-inner v-2" role="listbox">
            <div class="carousel-item active">
              <div class="col-12 col-md-12">
                <div class="card mb-2">
                  <img class="card-img-top" src="assets/images/insurance1.jpeg" alt="cardimage">
                  <div class="card-body">
                    <h4 class="card-title font-weight-bold">Motor</h4>
                    <h6 class="text-center">Benefits of car insurance</h6>
                    <p class="card-text">A car insurance can help you offset substantial financial loss that you may incur because of damage caused to your car</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12 col-md-12">
                <div class="card mb-2">
                  <img class="card-img-top" src="assets/images/insurance2.jpeg" alt="cardimage">
                  <div class="card-body">
                    <h4 class="card-title font-weight-bold">Motor</h4>
                    <h6 class="text-center">Must have Add On Covers for Car Insurance</h6>
                    <p class="card-text">A basic comprehensive car insurance covers damage to car, 3rd party liability and theft & loss of vehicle</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12 col-md-12">
                <div class="card mb-2">
                  <img class="card-img-top" src="assets/images/insurance3.jpeg" alt="cardimage">
                  <div class="card-body">
                    <h4 class="card-title font-weight-bold">Motor</h4>
                    <h6 class="text-center">Right time to buy vehicle insurance</h6>
                    <p class="card-text">Buying a vehicle insurance is an important decision and you need to ensure that you make a timely purchase of vehicle insurance</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12 col-md-12">
                <div class="card mb-2">
                  <img class="card-img-top" src="assets/images/insurance4.jpeg" alt="cardimage">
                  <div class="card-body">
                    <h4 class="card-title font-weight-bold">Motor</h4>
                    <h6 class="text-center">Know How Car Insurance Premium is Calculated</h6>
                    <p class="card-text">Car insurance premium calculation is based on various important factors. Learn about these factors.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12 col-md-12">
                <div class="card mb-2">
                  <img class="card-img-top" src="assets/images/insurance5.jpeg" alt="cardimage">
                  <div class="card-body">
                    <h4 class="card-title font-weight-bold">Motor</h4>
                    <h6 class="text-center">Rules to follow for safe driving</h6>
                    <p class="card-text">Know About The Important Road Safety Rules To Follow</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12 col-md-12">
                <div class="card mb-2">
                  <img class="card-img-top" src="assets/images/insurance6.jpeg" alt="cardimage">
                  <div class="card-body">
                    <h4 class="card-title font-weight-bold">Motor</h4>
                    <h6 class="text-center">Maintenance tips for car engine</h6>
                    <p class="card-text">Follow these maintenance tips and buy a car insurance with engine protection cover to keep engine secure</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12 col-md-12">
                <div class="card mb-2">
                  <img class="card-img-top" src="assets/images/insurance7.jpeg" alt="cardimage">
                  <div class="card-body">
                    <h4 class="card-title font-weight-bold">Motor</h4>
                    <h6 class="text-center">Monsoon Tips for Car</h6>
                    <p class="card-text">Simple tips to help you stay safe and keep your car moving ahead during monsoon</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12 col-md-12">
                <div class="card mb-2">
                  <img class="card-img-top" src="assets/images/insurance8.jpeg" alt="cardimage">
                  <div class="card-body">
                    <h4 class="card-title font-weight-bold">Motor</h4>
                    <h6 class="text-center">Zero Depreciation Cover</h6>
                    <p class="card-text">Read on to understand what is zero depreciation car insurance cover and how it works</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12 col-md-12">
                <div class="card mb-2">
                  <img class="card-img-top" src="assets/images/insurance9.jpeg" alt="cardimage">
                  <div class="card-body">
                    <h4 class="card-title font-weight-bold">Motor</h4>
                    <h6 class="text-center">Questions Regarding Motor Insurance Policies</h6>
                    <p class="card-text">Essential questions answered about motor insurance policies in India</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12 col-md-12">
                <div class="card mb-2">
                  <img class="card-img-top" src="assets/images/insurance10.jpeg" alt="cardimage">
                  <div class="card-body">
                    <h4 class="card-title font-weight-bold">Motor</h4>
                    <h6 class="text-center">Online Motor Insurance Policy Benefits</h6>
                    <p class="card-text">Know about the benefits of buying motor insurance online</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="options">
      <button type="submit">Buy Insurance</button>
      <button type="submit">Renew Insurance</button>
      <button type="submit">Claim Insurance</button>
      <button type="submit">Estimate Insurance Calculation</button>
    </div>
</div>