
button
{
    width: 90%;
    padding: 6%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 13%;
    margin-bottom: 13%;
    background-color: #264A9F;
    border: #264A9F;
    color: #e2e8f0;
}
button a
{
    color: #e2e8f0;
}