*
{
    color: #264A9F;
}
.btn-default, .nav-pills .nav-link.active
{
    background-color: #264A9F;
}
div .card .card-header
{
    background-color: transparent;
}
i{
    color:gray;
}
ul
{
    list-style-type: none;
}
.nav-link:hover
{
    background-color: #94a3c4;
    color: white;
}


