<section>
  <div class="container">
    <div class="row h-100">
      <div class="col-md-6 ml-0 text-center my-auto">
        <h2>RAID INSURANCE</h2>
        <p>
          Get your Dream vehicle.
          A reliable insurance.
          For nearly many years, we’ve prepared you for what’s next . Its our ambition to help you and your vehicle.
          Raid insurance offers  a comprehensive package policy which covers Loss or Damage to your car, Liability to third parties and provides personal accident cover to the Owner/Driver.
        </p>
        <p class="font-weight-bold">We at raid give you the suitable premium price of the policy. Check out the price here.</p>
        <button type="submit" value="Premium Calculator" class="btn btn-default text-white ">Premium Calculator</button>
      </div>
      <div class="col-md-6 mr-0">
        <img src="assets/images/car_insurance.png" style="width: 100%;">
      </div>
    </div>
  </div>
</section>
<div class="container text-center">
  <h4>Why Choose RAID Insurance ?</h4>
  <p>Understand your car insurance options. Identify the best value. Enjoy peace of mind</p>
  <div class="row">
    <div class="col-md-4">
      <div class="card bg-transparent">
        <div class="card-header">
          <img src="assets/images/time.svg" style="width: 60%;">
        </div>
        <div class="card-body">
          <h5>Car Insurance in Just 5 Minutes</h5>
          Say no to spending hours and days in queues doing the paperwork for your insurance policy.Wait no more! Get your car 
          insurance issued instantly with RAID Insurance online in just 5 minutes with our easy, quick and paperless car insurance policy inssuance process.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-transparent">
        <div class="card-header">
          <img src="assets/images/policy-sold.svg" style="width: 60%;">
        </div>
        <div class="card-body">
          <h5>Over 5.5 Lakh Happy Customers</h5>
          RAID Insurance is a favourable choice among insurance buyers. Our transparent and quick process, availability of top-related
          insurance plans and dedicated customer support team has helped us win the love and confidence of over 5.5 Lakh happy customers.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-transparent">
        <div class="card-header">
          <img src="assets/images/support.svg" style="width: 60%;">
        </div>
        <div class="card-body">
          <h5>7 Days Dedicated Customer Support</h5>
          Our dedicated customer support team is available at your service all the 7 days of the week. Feel free to reach out to us for
          any insurance related assistance, be it for policy purchase or claim settelement. We are always there to help you.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container text-center">
  <h4>How RAID Insurance Works ?</h4>
  <div class="row h-100 ml-5">
    <div class="col-md-3">
      <div class="card bg-transparent h-100">
        <div class="card-header">
          <img src="assets/images/details.svg">
        </div>
        <div class="card-body bg-transparent my-auto">
          <h6>Fill in Your Details</h6>
          Fill in your details and get insurance policy premium quotes from top-rated insurers instantly.
        </div>
      </div>
    </div>
    <div class="col-md-1 my-auto d-sm-none d-md-block">
      <i class="fa fa-chevron-right fa-3x"></i>
    </div>
    <div class="col-md-3">
      <div class="card bg-transparent h-100">
        <div class="card-header">
          <img src="assets/images/comparequote.svg">
        </div>
        <div class="card-body bg-transparent my-auto">
          <h6>Compare Quotes and Choose a Insurance Policy</h6>
          From numerous available quotes, choose the one that best suits your requirements and budget.
        </div>
      </div>
    </div>
    <div class="col-md-1 my-auto d-sm-none d-md-block">
      <i class="fa fa-chevron-right fa-3x"></i>
    </div>
    <div class="col-md-3">
      <div class="card bg-transparent h-100">
        <div class="card-header">
          <img src="assets/images/buyinminute.svg">
        </div>
        <div class="card-body bg-transparent my-auto">
          <h6>Make Payment and Sit Back</h6>
          Pay Online and get your policy right away in your inbox.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container text-center">
  <h4 class="text-center p-2">Coverages</h4>
  <ul class="nav nav-tab mb-3 nav-justified" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-loss-tab" data-toggle="pill" href="#pills-loss" role="tab" aria-controls="pills-loss" aria-selected="true">
        <img src="assets/images/crash.png">
        <h6>Loss or Damage to Your Car</h6>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-thirdparty-tab" data-toggle="pill" href="#pills-thirdparty" role="tab" aria-controls="pills-thirdparty" aria-selected="false">
        <img src="assets/images/car-crash.png">
        <h6>Liability to Third Parties</h6>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-accident-tab" data-toggle="pill" href="#pills-accident" role="tab" aria-controls="pills-accident" aria-selected="false">
        <img src="assets/images/ambulance.png">
        <h6>Personal Accident Cover to Owner/Driver</h6>
      </a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-loss" role="tabpanel" aria-labelledby="pills-loss-tab">
  
      <div class="card bg-transparent">
        <div class="card-header">
            <ul class="nav nav-pills nav-justified" id="pills-myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#covered1" role="tab" aria-controls="pills-home" aria-selected="true">Covered</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#notcovered1" role="tab" aria-controls="pills-profile" aria-selected="false">Not Covered</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-myTabContent">
              <div class="tab-pane fade show active text-center" id="covered1" role="tabpanel" aria-labelledby="pills-home-tab">
                  <p class="pt-5">This Car Insurance policy covers any loss or damage caused to the vehicle due to the following natural and manmade calamities.</p>
                  <ul>
                      <li>Accidental & External Damage</li>
                      <li>Fire & Explosion</li>
                      <li>Riot & Strike</li>
                      <li>Malicious Act</li>
                      <li>Burglary, housebreaking/ Theft</li>
                      <li>Landslide</li>
                      <li>Earthquake</li>
                      <li>Storm and Flood</li>
                      <li>Terrorism</li>         
                  </ul>
              </div>
              <div class="tab-pane fade text-center p-5" id="notcovered1" role="tabpanel" aria-labelledby="pills-profile-tab">
                  <ul>
                      <li>Wear and tear, Depreciation or any consequential loss.</li>
                      <li>Mechanical/ electrical breakdown.</li>
                      <li>Damage caused by a person driving the car without a valid license.</li>
                      <li>Damage caused by a person driving the car under the influence of alcohol or drugs.</li>
                      <li>Other exclusions as per the policy terms and conditions.</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    <div class="tab-pane fade" id="pills-thirdparty" role="tabpanel" aria-labelledby="pills-thirdparty-tab">
      
      <div class="card bg-transparent">
        <div class="card-header">
            <ul class="nav nav-pills nav-justified" id="pills-myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-thirdhome-tab" data-toggle="pill" href="#covered2" role="tab" aria-controls="pills-thirdhome" aria-selected="true">Covered</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-thirdprofile-tab" data-toggle="pill" href="#notcovered2" role="tab" aria-controls="pill-thirdprofile" aria-selected="false">Not Covered</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-myTabContent">
              <div class="tab-pane fade show active text-center p-5" id="covered2" role="tabpanel" aria-labelledby="pills-thirdhome-tab">
                  <ul>
                    <li>Legal protection for death or injury claims from third parties.</li>
                    <li>Legal protection for damage to third party property.</li>
                    <li>Legal costs and Expenses.</li>    
                  </ul>
              </div>
              <div class="tab-pane fade text-center p-5" id="notcovered2" role="tabpanel" aria-labelledby="pills-thirdprofile-tab">
                <ul>
                  <li>Damage to your personal property.</li>
                  <li>Costs and expenses incurred without our prior written consent.</li>
                  <li>Other exclusions as per the policy terms and conditions.</li> 
                </ul>
              </div>
            </div>
          </div>
        </div>
  
    </div>
  
  
    <div class="tab-pane fade" id="pills-accident" role="tabpanel" aria-labelledby="pills-accident-tab">
      
      <div class="card bg-transparent">
        <div class="card-header">
            <ul class="nav nav-pills nav-justified" id="pills-myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-accident-tab" data-toggle="pill" href="#covered3" role="tab" aria-controls="pills-accidenthome" aria-selected="true">Covered</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-myTabContent">
              <div class="tab-pane fade show active text-center" id="covered3" role="tabpanel" aria-labelledby="pills-accidenthome-tab">
                  <p class="p-5">This insurance policy provides compulsory Personal Accident Cover to the owner/driver whilst driving the vehicle including mounting into/ dismounting from or traveling in the insured vehicle as a co-driver for Rs. 15 lakhs.</p>
              </div>
            </div>
          </div>
        </div>
  
    </div>
  </div>
</div>