<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div>
                        <div class="card-header text-center">
                            <h3>Plans</h3>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="planForm" (ngSubmit)="onSubmit()" novalidate>
                                <div class="form-group text-center">
                                    <label for="planType" class="h6">Plan Type</label>
                                    <br>
                                    <span class="float-left">
                                        <input (change)="plantypechange($event)" type="radio" class="form-check-inline" value="ThirdParty" id="planType"
                                            name="planType" formControlName="planType">Third Party Liability
                                    </span>
                                    <span class="float-right">
                                        <input type="radio" (change)="plantypechange($event)" class="form-check-inline" value="Comprehensive"
                                            id="planType" name="planType" formControlName="planType">Comprehensive
                                    </span>
                                </div>
                                <div *ngIf="!planType.valid && (planType.dirty ||planType.touched)">
                                    <div [hidden]="!planType.errors.required">
                                      <p style="color: red;">Plan Type is required</p>
                                    </div>
                                  </div>
                                <br>
                                <div class="form-group text-center">
                                    <label for="planDuration" class="h6">Plan Duration</label>
                                    <br>
                                    <span class="float-left">
                                        <input type="radio" (change)="plandurchange($event)" class="form-check-inline" value=1 id="planDuration"
                                            name="planDuration" formControlName="planDuration">One Year
                                    </span>
                                    <span>
                                        <input type="radio" (change)="plandurchange($event)" class="form-check-inline" value=2 id="planDuration"
                                            name="planDuration" formControlName="planDuration">Two Year
                                    </span>
                                    <span class="float-right">
                                        <input type="radio" (change)="plandurchange($event)" class="form-check-inline" value=3 id="planDuration"
                                            name="planDuration" formControlName="planDuration">Three Year
                                    </span>
                                </div>
                                <div *ngIf="!planDuration.valid && (planDuration.dirty ||planDuration.touched)">
                                    <div [hidden]="!planDuration.errors.required">
                                      <p style="color: red;">Plan Duration is required</p>
                                    </div>
                                  </div>
                                <div class="inner-card">
                                    
                                    <div class="card-header inner-card-header">
                                        <h6>Selected Plan Price Breakup</h6>
                                    </div>
                                    <div class="text-center">
                                        IDV = {{idv}}
                                    </div>
                                    <div class="card-body inner-card-body">
                                        <div class="modal-body">
                                            <div *ngIf="planType.value==='Comprehensive'?true:false">
                                                <div class="row">
                                                    <div class="col-md-9">Basic Own Damage</div>
                                                    <div class="col-md-3">{{basic_own_damagef | number : '1.0-2'}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-9">No Claim Bonus Discount</div>
                                                    <div class="col-md-3"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-9">Net Own Damage</div>
                                                    <div class="col-md-3"></div>
                                                </div>
                                            </div>
                                            <hr class="my-2">
                                            <div class="row">
                                                <div class="col-md-9">Basic Third Party</div>
                                                <div class="col-md-3">{{basic_third_partyf | number : '1.0-2'}}</div>
                                            </div>
                                            <hr class="my-2">
                                            <div class="row">
                                                <div class="col-md-9">Net Premium</div>
                                                <div class="col-md-3">{{net_premium | number : '1.0-2'}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-9">GST</div>
                                                <div class="col-md-3">{{gst | number : '1.0-2'}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-9">Total Premium</div>
                                                <div class="col-md-3">{{total_premium | number : '1.0-2'}}</div>
                                            </div>
                                            <hr class="my-3">
                                            <div class="row">
                                                <div class="col-md-9">Total Payable</div>
                                                <div class="col-md-3">{{total_premium | number : '1.0-2'}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <button type="button" data-toggle="modal" data-target="#thirdpartymodal" [disabled]="!planForm.valid" class="btn btn-default submit-button" id="pay">Make Payment</button>
                                </div>
                                <div ng-if="planForm.valid" ng-init="calcprem()"></div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="thirdpartymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirm Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="buyInsData.inusrance_type=='renew'?true:false" class="row">
                    <div class="col-sm-3">
                    <h6 class="mb-0">Insurance Type</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        {{buyInsData.inusrance_type}}
                    </div>
                    <div class="col-sm-3">
                        <h6 class="mb-0">Policy Number</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        {{buyInsData.policy_no}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                    <h6 class="mb-0">Registration Number</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        {{buyInsData.registeration_number}}
                    </div>
                    <div class="col-sm-3">
                        <h6 class="mb-0">License Number</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        {{buyInsData.license_no}}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Manufacturer Name</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        {{buyInsData.brand_name}}
                    </div>
                    <div class="col-sm-3">
                        <h6 class="mb-0">Model Name</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        {{buyInsData.model_name}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Engine Number</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        {{buyInsData.engine_number}}
                    </div>
                    <div class="col-sm-3">
                        <h6 class="mb-0">Chassis Number</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        {{buyInsData.chassis_number}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Vehicle Type</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        {{buyInsData.veh_type}}
                    </div>
                    <div class="col-sm-3">
                        <h6 class="mb-0">Vehicle CC</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        {{buyInsData.vehicleCC}}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Market Price</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        {{buyInsData.market_price}}
                    </div>
                    <div class="col-sm-3">
                        <h6 class="mb-0">Purchase Date</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        {{buyInsData.purchase_date}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Plan Type</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        {{gloalplantype}}
                    </div>
                    <div class="col-sm-3">
                        <h6 class="mb-0">Plan Duration</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        {{globalplanduration}}
                    </div>
                </div>

                <h5 class="text-center mt-2">Total Amount: {{total_premium}}</h5>



                
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="onSubmit()" data-dismiss="modal">Confirm and Make Payment</button>
            </div>
        </div>
    </div>
</div>